/* This file is contains CSS specific  to token.ejs file*/

.side-list > li.dote{
    margin-bottom: 12px;
    padding: 10px;
    background-color: ""
}
.side-list > li.dote.active{        
    background: white;
    border-radius: 6px;
}
.side-list .dote.active:before {
    background-color: #0f1dabe6;    
}
.side-list > li.dote > a{
    text-decoration: unset;
}
.side-list > li.dote.active > a{
    color: #0f1dabe6;
}