<div class="footer">
   <div class="container">
      <div class="row justify-content-between">
         <div class="col-sm-6">
            <div class="footer-inner">
               © <span id="CurrentYear"></span>2023 moonstride. All rights reserved
            </div>
         </div>
         <div class="col-sm-6 text-end">
            <div class="poweredBy">
               <% if (typeof moonstrideURL==='undefined' ) { moonstrideURL='' %>
                  <%} %>
                     <a href="<%= moonstrideURL %>/securecrm/ManagerHome.aspx" title="Moonstride" target="_blank"><img
                           src="/images/logo-black.svg" alt="Moonstride" /></a>
            </div>
         </div>
      </div>
   </div>
</div>