<div class="topbar">
   <div class="container">
      <% if (typeof moonstrideURL==='undefined' ) { moonstrideURL='' %>
         <%} %>
            <a class="logo pull-left" href="<%= moonstrideURL %>/securecrm/ManagerHome.aspx" target="_blank">
               <img src="/images/logo-black.svg" alt="Moonstride" />
            </a>
   </div>
</div>